<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="CosmosDbName" value="apulliam-cosmos" />
    <add key="CosmosDbApi" value="DocumentDb" />
    <!--<add key="CosmosDbApi" value="MongoDb" />-->
    <add key="UserName" value="apulliam-cosmos" />
    <add key="AuthorizationKey" value="jXIgZuuAQH6oK3nicxHJ09lIw2cfkFX7pGLwHk8W2K6pN9wjfFfM8yUebCexS658FMq1thYJ5PQ6h5J7CZAAGA==" />

    <add key="DatabaseName" value="db" />
    <add key="CollectionName" value="data" />
    
    <add key="CollectionThroughput" value="100000" />
    <add key="ShouldCleanupOnStart" value="true" />
    <add key="ShouldCleanupOnFinish" value="false" />
    
    <!-- determined by the tool -->
    <add key="DegreeOfParallelism" value="-1" />
    <add key="NumberOfDocumentsToInsert" value="100" />

    <add key="CollectionPartitionKey" value="/partitionKey" />
    <add key="DocumentTemplateFile" value="Player.json" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>